<div class="results bckg_page" id="content">
    <div class="content" >
        <div class="title_form"><span class="logo_sm"></span><span class="tittle title">Y&ouml;r - Results</span></div>
        <div class="results_cont">
            <div class="result_all">
                <div class="result_left">
                    <div class="radius_l">
                        <div><img class="diagramm" src="img/diagramm.png" alt="diagramm"/></div>
                        <div>
                            <a href="#"><img class="banner" src="img/tesco.png" alt="tesco - Great saving!"/></a>
                            <iframe class="banner" width="225" height="155"
                                    src="http://www.youtube.com/embed/XGSy3_Czz8k">
                            </iframe>
                        </div>
                    </div>
                </div>
                <div class="result_right_amm">
                    <div class="">
                        <div class="left_result center">
                            <h5 class="results_titl inline">Y&ouml;r Results</h5>
                                <a class="option_title inline">
                                    <p>Y&ouml;r options</p>
                                </a>
                        </div>
                        <div class="right_result">
                            <div>
                                <div class="inline"><a href="#/diagramm2" class="sub fleft done_btn"><p>Income Vs Expenditure</p></a></div>
                                <div class="inline"><a class="sub fleft done_btn opac_btn"><p>Spending Review</p></a></div>

                                <div class="inline"><a class="sub fleft done_btn opac_btn"><p>Amendments</p></a></div>
                                <div class="inline"><a href="#/realitycheck" class="sub fleft done_btn opac_btn"><p>Reality Check</p></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="result_columns">
                        <div class="inc_expe">
                            <div class="inc_exp_titl">
                                <h2>Expenditure Breakdown</h2>
                                <h2 >Income V's Expenditure</h2>
                            </div>
                            <div class="inc_exp_cols">
                                <div class="w350 columns center" >
                                    <div   id="partsChart" data-toggle="popover" title="" data-trigger="manual" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" data-bind="piechart: members, transformation:transformToChart, chartOptions:{ mouseout :mouseout, mouseover : mouseover, fildCenter : true, showLegend : true, width:400, height:180, showResultsInChart : false, showResultsInLegend : true }"></div>
                                </div>
                                <div class="columns center">
                                    <!-- <img src="img/exp_cols.png"> -->
                                    <div id="barChart"></div>
                                    <div class="inc_exp">
                            <span class="inline">
                                <p>Y&ouml;r</p>
                                <p>Income</p>
                            </span>
                            <span class="inline">
                                <p>Y&ouml;r</p>
                                <p>Expenditure</p>
                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear bott_butts_m">
                        <div class="inline fright">
                            <a href="#" class="btn_action button_next inline prev_but"><span class="prev_butt"></span>PREVIOUS</a>
                            <a href="#" class="btn_action button_next inline next_but">NEXT <span class="next_butt"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 50px"></div>
        </div>
    </div>
</div>
