<div class="bckg_page">
    <div id="header">
        <div id="logo"><a href="#"></a></div>
        <div id="exit"><a class="sub exit_btn" href="#">EXIT</a></div>
    </div>
    <div id="content" class="dashb ">
        <div class="left_video">
            <div>
                <img src="img/diagramm.png" alt="diagramm" class="diagr_video">
                <div>
                    <a href="#"><img src="img/apps.png" alt="apps" class="app"></a>
                    <a href="#"><img src="img/yoshop.png" class="fright" class="fright" alt="yor shop"></a>
                </div>
                <a href="#"><img src="img/tescobl.png" alt="tesco" class="tesco"></a>
            </div>
        </div>
        <div class="content video_page">
            <div class="title_form">
                <span class="back"><a href="#"><img src="img/back.png" alt="back"></a></span>
                <span class="video_lib">Y&ouml;r - Home</span>
                <span class="dash"><a href="#"><img src="img/dash.png" alt="back"></a></span>
            </div>
            <div class="bckgr">
                <div class="dash_content">
                    <div class="menu center line">
                        <select>
                            <option>Viev</option>
                            <option>Viev</option>
                            <option>Viev</option>
                            <option>Viev</option>
                        </select>
                        <div class="inline dashboard">
                            <div class="icon add_exp">
                                <a href="#"><img src="img/btn_add.png"></a>
                                <div>
                                    <a href="#"><div>Add</div><div>Expenditure</div></a>
                                </div>
                            </div>
                            <div class="icon wh_mode">
                                <a href="#"><img src="img/btn_hat.png"></a>
                                <div>
                                    <a href="#"><div>Whisper</div><div>Mode</div></a>
                                </div>
                            </div>
                            <div class="icon upg_opt">
                                <a href="#"><img src="img/btn_upgr.png"></a>
                                <div>
                                    <a href="#"><div>Upgrade</div><div>Options</div></a>
                                </div>
                            </div>
                            <div class="icon vd_lib">
                                <a href="#"><img src="img/btn_video.png"></a>
                                <div>
                                    <a href="#"><div>Video</div><div>Library</div></a>
                                </div>
                            </div>
                            <div class="icon print">
                                <a href="#"><img src="img/btn_print.png"></a>
                                <div>
                                    <a href="#"><div>Print</div></a>
                                </div>
                            </div>
                            <div class="icon hlp">
                                <a href="#"><img src="img/btn_help.png"></a>
                                <div>
                                    <a href="#"><div>Help</div></a>
                                </div>
                            </div>
                        </div>
                        <input class="search fright" type="text" placeholder="Quick Search">
                    </div>
                    <div class="dash_limit">
                        <div class="dashb ">
                            <h3>Y&ouml;r Budget</h3>
                        </div>
                        <div class="info_table">
                           <!--  <div class="dash_left">
                                <table cellpadding="0" cellspacing="0" border="0" width="170px">
                                    <tr>
                                        <td class="underline">Yör Income</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="item_hover">
                                        <td class="item_table"><a href="#">Income</a></td>
                                        <td class="item_price"><a href="#">£1700</a></td>
                                        <td class="nocolor"><a href="#"><img src="img/blue_plus.svg"></a></td>
                                    </tr>
                                </table>
                                <table cellpadding="0" cellspacing="0" border="0" width="170px">
                                    <tr>
                                        <td class="underline">Yör Expenditure</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="item_hover">
                                        <td class="item_table"><a href="#">Home</a></td>
                                        <td class="item_price"><a href="#">£250</a></td>
                                        <td class="nocolor"><a href="#"><img src="img/blue_plus.svg"></a></td>
                                    </tr>
                                    <tr class="item_hover">
                                        <td class="item_table"><a href="#">Transport</a></td>
                                        <td class="item_price"><a href="#">£250</a></td>
                                        <td class="nocolor"><a href="#"><img src="img/blue_plus.svg"></a></td>
                                    </tr>
                                    <tr class="item_hover">
                                        <td class="item_table"><a href="#">Finances</a></td>
                                        <td class="item_price"><a href="#">£250</a></td>
                                        <td class="nocolor"><a href="#"><img src="img/blue_plus.svg"></a></td>
                                    </tr>
                                    <tr class="item_hover">
                                        <td class="item_table"><a href="#">Personal</a></td>
                                        <td class="item_price"><a href="#">£250</a></td>
                                        <td class="nocolor"><a href="#"><img src="img/blue_plus.svg"></a></td>
                                    </tr>
                                    <tr class="item_hover">
                                        <td class="item_table"><a href="#">Annual</a></td>
                                        <td class="item_price"><a href="#">£250</a></td>
                                        <td class="nocolor"><a href="#"><img src="img/blue_plus.svg"></a></td>
                                    </tr>
                                    <tr class="item_hover" >
                                        <td class="item_table brdrd_btm"><a href="#">One-off's</a></td>
                                        <td class="item_price brdrd_btm"><a href="#">£250</a></td>
                                        <td class="nocolor brdrd_btm"><a href="#"><img src="img/blue_plus.svg"></a></td>
                                    </tr>
                                    <tr>
                                        <td class="">Total</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="item_table brdrd_btm">Expenditure</td>
                                        <td class="item_price brdrd_btm">£1150</td>
                                        <td class="brdrd_btm"></td>
                                    </tr>
                                </table>
                                <table cellpadding="0" cellspacing="0" border="0" width="170px">
                                    <tr>
                                        <td class="item_table_exp">Yor Suprplus</td>
                                        <td class="">£1150</td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div> -->
                            <div class="dash_pie">
                                <!-- <div>
                                    <img class="piechart" src="img/piechart.jpg">
                                </div> -->
                                <div id="partsChart" data-toggle="popover" title="" data-trigger="manual" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title"  data-bind="piechart: parts, transformation:transformToChart, chartOptions:{ mouseout :mouseout, mouseover : mouseover, showResultsInLegend : true, fildCenter : true, width:900, height:300 }"></div>
                            </div>
                        </div>
                        <table style="width : 100%">
                            <tr>
                                <td class="center">Yör Income</td>
                                <td class="center">Expenditure</td>
                                <td class="center">Total</td>
                            </tr>
                            <tr>
                                <td class="center" data-bind="text : incomeSum"></td>
                                <td class="center"  data-bind="text : expenditureSum"></td>
                                <td class="center" data-bind="text : totalSum"></td>
                            </tr>
                        </table>
                    </div>

                    <div class="banner_video">
                        <a href="#"><img src="img/banner_legal.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
    </div>
</div>