<div class="results bckg_page" id="content">
    <div class="content" >
        <div class="title_form"><span class="logo_sm"></span><span class="tittle title">Y&ouml;r - Results</span></div>
        <div class="results_cont">
            <div class="result_all">
                <div class="result_left">
                    <div class="radius_l">
                        <div><img class="diagramm" src="img/diagramm.png" alt="diagramm"/></div>
                        <div>
                            <a href="#"><img class="banner" src="img/tesco.png" alt="tesco - Great saving!"/></a>
                            <iframe class="banner" width="225" height="155"
                                    src="http://www.youtube.com/embed/XGSy3_Czz8k">
                            </iframe>
                        </div>
                    </div>
                </div>
                <div class="result_right_amm">
                    <div class="">
                        <div class="left_result center">
                            <h5 class="results_titl inline">Y&ouml;r Results</h5>
                                <a class="option_title inline">
                                    <p>Y&ouml;r options</p>
                                </a>
                        </div>
                        <div class="right_result">
                            <div>
                                <div class="inline"><a  href="#/diagramm2" class="sub fleft done_btn opac_btn"><p>Income Vs Expenditure</p></a></div>
                                <div class="inline"><a class="sub fleft done_btn opac_btn"><p>Spending Review</p></a></div>

                                <div class="inline"><a class="sub fleft done_btn opac_btn"><p>Amendments</p></a></div>
                                <div class="inline"><a href="#/realitycheck" class="sub fleft done_btn "><p>Reality Check</p></a></div>
                            </div>
                        </div>
                    </div>
 <div class="result_columns result_ammend">
                        <div class="real_selects">
                            <div class="fleft">
                                <h3>Reality Check For</h3>
                                <select data-bind="options : members, optionsText : 'name', optionsValue : 'id', value : selectedMemberId">
                                </select>
                            </div>
                            <div class="fright">
                                <h3>Duration Analysis</h3>
                                <select data-bind="options : periods, value : sectedPeriod">
                                   
                                </select>
                            </div>
                        </div>
                        <div class="real_table">
                            <table>
                                <thead>
                                <tr>
                                  <!--   <td></td> -->
                                    <td>Category</td>
                                    <td class="center">Monthly Spend</td>
                                    <td class="center">Days Worked To Cover Cost</td>
                                </tr>
                                </thead>
                                <tbody data-bind="foreach : expenditures">
                                    <tr>
                                       <!--  <td class="middle"><div class="arrow"></div></td> -->
                                        <td class="res_line" data-bind="text : title "></td>
                                        <td class="center res_line" data-bind="text : moneySpend"></td>
                                        <td class="center res_line" data-bind="text : perPeriod"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clear bott_butts_m">
                        <div class="inline fright">
                            <a href="#" class="btn_action button_next inline prev_but"><span class="prev_butt"></span>PREVIOUS</a>
                            <a href="#" class="btn_action button_next inline next_but">NEXT <span class="next_butt"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 50px"></div>
        </div>
    </div>
</div>
